<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BTL.Properties.Settings.QLKSConnectionString1" connectionString="Data Source=DESKTOP-93RPIAO\SQLEXPRESS;Initial Catalog=QLKS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="BTL.Properties.Settings.QLKSConnectionString" connectionString="Data Source=DESKTOP-QHPIJ3U\SQLEXPRESS;Initial Catalog=QLKS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="BTL.Properties.Settings.QLKSConnectionString2" connectionString="Data Source=DESKTOP-QHPIJ3U\SQLEXPRESS;Initial Catalog=QLKS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="BTL.Properties.Settings.QLKSConnectionString3" connectionString="Data Source=DESKTOP-A5S98G0\SQLEXPRESS;Initial Catalog=QLKS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>